USE [master]
GO
/****** Object:  Database [hos_db]    Script Date: 6/17/2026 5:04:34 PM ******/
CREATE DATABASE [hos_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hos_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hos_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hos_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hos_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hos_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hos_db]
GO
USE [hos_db]
GO
/****** Object:  Sequence [dbo].[seq_appointment]    Script Date: 6/17/2026 5:04:35 PM ******/
CREATE SEQUENCE [dbo].[seq_appointment] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [hos_db]
GO
/****** Object:  Sequence [dbo].[seq_doctor]    Script Date: 6/17/2026 5:04:35 PM ******/
CREATE SEQUENCE [dbo].[seq_doctor] 
 AS [bigint]
 START WITH 2
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [hos_db]
GO
/****** Object:  Sequence [dbo].[seq_doctors]    Script Date: 6/17/2026 5:04:35 PM ******/
CREATE SEQUENCE [dbo].[seq_doctors] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [hos_db]
GO
/****** Object:  Sequence [dbo].[seq_lab]    Script Date: 6/17/2026 5:04:35 PM ******/
CREATE SEQUENCE [dbo].[seq_lab] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [hos_db]
GO
/****** Object:  Sequence [dbo].[seq_medicine]    Script Date: 6/17/2026 5:04:35 PM ******/
CREATE SEQUENCE [dbo].[seq_medicine] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [hos_db]
GO
/****** Object:  Sequence [dbo].[seq_patient]    Script Date: 6/17/2026 5:04:35 PM ******/
CREATE SEQUENCE [dbo].[seq_patient] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [hos_db]
GO
/****** Object:  Sequence [dbo].[seq_prescription]    Script Date: 6/17/2026 5:04:35 PM ******/
CREATE SEQUENCE [dbo].[seq_prescription] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [hos_db]
GO
/****** Object:  Sequence [dbo].[seq_receptionist]    Script Date: 6/17/2026 5:04:35 PM ******/
CREATE SEQUENCE [dbo].[seq_receptionist] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [hos_db]
GO
/****** Object:  Sequence [dbo].[seq_record]    Script Date: 6/17/2026 5:04:35 PM ******/
CREATE SEQUENCE [dbo].[seq_record] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [hos_db]
GO
/****** Object:  Sequence [dbo].[seq_user]    Script Date: 6/17/2026 5:04:35 PM ******/
CREATE SEQUENCE [dbo].[seq_user] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[diseases]    Script Date: 6/17/2026 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diseases](
	[icd_code] [varchar](20) NOT NULL,
	[disease_name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[icd_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medical_records]    Script Date: 6/17/2026 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medical_records](
	[id] [varchar](10) NOT NULL,
	[patient_id] [varchar](10) NOT NULL,
	[doctor_id] [varchar](10) NULL,
	[icd_code] [varchar](20) NULL,
	[diagnosis] [nvarchar](max) NOT NULL,
	[treatment] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[pulse] [int] NULL,
	[blood_pressure] [nvarchar](20) NULL,
	[temperature] [decimal](4, 1) NULL,
	[spo2] [int] NULL,
	[appointment_id] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_disease_stats]    Script Date: 6/17/2026 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- VIEW
CREATE VIEW [dbo].[v_disease_stats] AS
SELECT 
    d.disease_name,
    COUNT(mr.id) AS total_cases,
    MONTH(mr.created_at) AS report_month,
    YEAR(mr.created_at) AS report_year
FROM medical_records mr
JOIN diseases d ON mr.icd_code = d.icd_code
GROUP BY d.disease_name, MONTH(mr.created_at), YEAR(mr.created_at);
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 6/17/2026 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[id] [varchar](10) NOT NULL,
	[patient_id] [varchar](10) NOT NULL,
	[doctor_id] [varchar](10) NULL,
	[appointment_date] [date] NOT NULL,
	[appointment_time] [time](7) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[reason] [nvarchar](max) NULL,
	[created_by] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 6/17/2026 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[id] [varchar](10) NOT NULL,
	[user_id] [varchar](10) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[specialization] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[telegram_chat_id] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lab_results]    Script Date: 6/17/2026 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_results](
	[id] [varchar](10) NOT NULL,
	[record_id] [varchar](10) NOT NULL,
	[test_name] [nvarchar](200) NOT NULL,
	[result] [nvarchar](max) NULL,
	[test_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicines]    Script Date: 6/17/2026 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicines](
	[id] [varchar](10) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[category] [nvarchar](100) NULL,
	[unit] [nvarchar](50) NULL,
	[price] [decimal](18, 2) NULL,
	[instruction] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 6/17/2026 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[id] [varchar](10) NOT NULL,
	[user_id] [varchar](10) NULL,
	[name] [nvarchar](100) NOT NULL,
	[dob] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[id_card] [varchar](20) NULL,
	[blood_type] [varchar](10) NULL,
	[allergies] [nvarchar](max) NULL,
	[emergency_contact_name] [nvarchar](100) NULL,
	[emergency_contact_phone] [varchar](20) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescription_details]    Script Date: 6/17/2026 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescription_details](
	[id] [varchar](10) NOT NULL,
	[record_id] [varchar](10) NOT NULL,
	[medicine_id] [varchar](10) NOT NULL,
	[quantity] [int] NOT NULL,
	[dosage] [nvarchar](100) NULL,
	[frequency] [nvarchar](100) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[receptionists]    Script Date: 6/17/2026 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receptionists](
	[id] [varchar](10) NOT NULL,
	[user_id] [varchar](10) NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](15) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/17/2026 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [varchar](10) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appointments] ADD  CONSTRAINT [DF_appointments_id]  DEFAULT ('A'+right('000'+CONVERT([varchar],NEXT VALUE FOR [seq_appointment]),(3))) FOR [id]
GO
ALTER TABLE [dbo].[appointments] ADD  CONSTRAINT [DF_appointments_status]  DEFAULT (N'Đang chờ') FOR [status]
GO
ALTER TABLE [dbo].[doctors] ADD  CONSTRAINT [DF_doctors_id]  DEFAULT ('D'+right('000'+CONVERT([varchar],NEXT VALUE FOR [seq_doctor]),(3))) FOR [id]
GO
ALTER TABLE [dbo].[lab_results] ADD  CONSTRAINT [DF_lab_id]  DEFAULT ('L'+right('000'+CONVERT([varchar],NEXT VALUE FOR [seq_lab]),(3))) FOR [id]
GO
ALTER TABLE [dbo].[medical_records] ADD  CONSTRAINT [DF_records_id]  DEFAULT ('MR'+right('000'+CONVERT([varchar],NEXT VALUE FOR [seq_record]),(3))) FOR [id]
GO
ALTER TABLE [dbo].[medical_records] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicines] ADD  CONSTRAINT [DF_medicines_id]  DEFAULT ('M'+right('000'+CONVERT([varchar],NEXT VALUE FOR [seq_medicine]),(3))) FOR [id]
GO
ALTER TABLE [dbo].[patients] ADD  CONSTRAINT [DF_patients_id]  DEFAULT ('P'+right('000'+CONVERT([varchar],NEXT VALUE FOR [seq_patient]),(3))) FOR [id]
GO
ALTER TABLE [dbo].[patients] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[prescription_details] ADD  CONSTRAINT [DF_prescription_id]  DEFAULT ('PD'+right('000'+CONVERT([varchar],NEXT VALUE FOR [seq_prescription]),(3))) FOR [id]
GO
ALTER TABLE [dbo].[receptionists] ADD  CONSTRAINT [DF_receptionists_id]  DEFAULT ('R'+right('000'+CONVERT([varchar],NEXT VALUE FOR [seq_receptionist]),(3))) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_id]  DEFAULT ('U'+right('000'+CONVERT([varchar],NEXT VALUE FOR [seq_user]),(3))) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[receptionists] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [FK_Doctors_Users]
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD FOREIGN KEY([record_id])
REFERENCES [dbo].[medical_records] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD FOREIGN KEY([icd_code])
REFERENCES [dbo].[diseases] ([icd_code])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD  CONSTRAINT [FK_medical_records_appointments] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[medical_records] CHECK CONSTRAINT [FK_medical_records_appointments]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[prescription_details]  WITH CHECK ADD FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[prescription_details]  WITH CHECK ADD FOREIGN KEY([record_id])
REFERENCES [dbo].[medical_records] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[receptionists]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [CK_appointments_status] CHECK  (([status]=N'Đã hủy' OR [status]=N'Hoàn thành' OR [status]=N'Đang khám' OR [status]=N'Đang chờ'))
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [CK_appointments_status]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD CHECK  (([gender]=N'Khác' OR [gender]=N'Nữ' OR [gender]=N'Nam'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='doctor' OR [role]='receptionist'))
GO
USE [master]
GO
